// NAVBAR - SIZES
$nav-width: 30vw;
$nav-maxwidth: 275px;
// $nav-width-mob: 80vw;
// NAVBAR - COLORS
$nav-bg: antiquewhite;
$nav-li-bg: cadetblue;
$nav-a-bg: aquamarine;
$nav-a-bg-hover: aqua;
$nav-a-bg-active: lightgreen;

// FORM - COLORS
$form-bg: grey;
$form-heading: black;
$form-input-border-bottom: gainsboro;
$form-input-border-bottom-focus: black;
$form-button: grey;
$form-button-focus: black;
$form-button-border: black;
$form-button-border-focus: black;
$form-button-font-size: 18px;
$form-input-and-button-radius: 10px;
$form-input-padding-left: 10px;